@import url('https://fonts.googleapis.com/css2?family=Milonga&family=Peralta&family=Poppins:wght@600&display=swap');


$font-milonga:'Milonga',cursive;
$font-peralta:'Peralta',cursive;
$font-poppins:'Poppins',sans-serif;