@import "./variables";
@import "./mixins";

.image_wrapper {
  width: 100%;
  height: 100vh;
  clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
  position: relative;
}
.header_text {
  position: absolute;
  margin-top: 18rem;
  margin-left: 15rem;
  font-family: "Roboto", sans-serif;
  & h1 {
    font-size: 10rem;
  }
  // & p {
  //   font-size: 3.8rem;
  //   margin: 0;
  // }
}
.autoText {
  font-size: 3.6rem;
  margin: 0rem 0rem 0rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Typewriter {
  color: red;
}
.about_btn {
  margin-top: 1.5rem;
  width: 35rem;
  height: 6rem;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c3c43;
  color: white;
  border: none;
  cursor: pointer;
}
.social_header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30rem;
  right: 20rem;
  & a {
    margin: 1rem;
  }
}
.projectHero {
  width: 100%;
  height: 50rem;
  background-color: rgb(28, 60, 67);
  display: flex;
  justify-content: center;
  align-items: center;
  // padding:4rem;
  & h1 {
    font-size: 30rem;
    opacity: 0.27;
    color: grey;
    font-family: "Roboto", sans-serif;
  }
}

.projects {
  width: 100%;
  box-sizing: border-box;
  // height: 50rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}
.project {
  display: flex;
  margin: 2rem 4rem;
}

.projectInfoBox {
  width: 50%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoBox {
  background-color: #6f8698;
  width: 40rem;
  //  border: .3rem solid #1C3C43;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  box-shadow: 2px 2px 16px 4px rgba(0, 0, 0, 0.5);

  & h1 {
    font-size: 2.8rem;
  }
}

.list {
  list-style-type: square;
  margin: 1.8rem;
  padding: 0;
}
.projectImageBox {
  // background-color: yellow;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_1 {
  width: 40rem;
  height: 25rem;
  position: relative;
  z-index: 10;
  transition: all 0.8s ease-in;
  &:hover {
    scale: 1.1;
    z-index: 100;
    outline: 0.5rem solid #576563;
    outline-offset: 1.5rem;
    transition: all 0.8s ease-in;
  }
}
.image_2 {
  width: 40rem;
  height: 20rem;
  position: relative;
  z-index: 4;
  margin-left: -10rem;
  margin-top: -15rem;
  transition: all 0.8s ease-in;
  &:hover {
    scale: 1.1;
    z-index: 100;
    outline: 0.5rem solid #576563;
    outline-offset: 1.5rem;
    transition: all 0.8s ease-in;
  }
}
.image_3 {
  width: 40rem;
  height: 20rem;
  position: relative;
  z-index: 6;
  margin-left: -25rem;
  margin-top: 15rem;
  transition: all 0.8s ease-in;
  &:hover {
    scale: 1.1;
    z-index: 100;
    outline: 0.5rem solid #576563;

    outline-offset: 1.5rem;
    transition: all 0.8s ease-in;
  }
}

.skills {
  width: 100%;
  background-color: #576563;
  // height: 50rem;
  clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;

  & h1 {
    font-size: 15rem;
    font-family: "Roboto", sans-serif;
    color: #1c3c43;
    opacity: 0.65;
    margin-bottom: 5rem;
  }
}
.contact {
  width: 100%;
  background-color: #6b94b1;
  //   clip-path: polygon(100% 0, 76% 18%, 51% 1%, 24% 18%, 0 0);
}
.project_btns {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.linkBtn {
  background-color: #1c3c43;
  color: #8bb6d4;
  border: 0.2rem solid #1c3c43;
  border-radius: 2rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.39);
  & a {
    text-decoration: none;
    color: #6b94b1;
    margin-left: 1rem;
  }
  &:hover {
    scale: 1.1;
    transition: all 0.3s ease-in;
  }
}
.skillsBox {
  width: 50rem;
  height: 40rem;
  background-color: #243746;
  color: #576563;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  padding: 4rem;
  margin-bottom: 10rem;
}
.margin {
  margin: 1rem;
}

.contactBox {
  display: flex;
  padding: 4rem;
}
.contact_leftbox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  & h1 {
    font-size: 2.9rem;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin-bottom: 3rem;
  }
}
.contact_social {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  & a {
    margin: 2rem;
  }
}
.form {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  font-family: "Roboto", sans-serif;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;

  & input {
    width: 25rem;
    line-height: 1.8rem;
    padding: 0.3rem;
    color: #1c3c43;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
  }
  & label {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    margin: 0.5rem;
  }
  & textarea {
    width: 25.2rem;
    height: 10rem;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
    margin-bottom: 2rem;
    resize: none;
  }
}
.invalid {
  
  & input {
    background: rgb(245, 165, 156);
  }
}
.errorText {
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-family: "Roboto", sans-serif;
  color: red;
}

.btn {
  width: 15rem;
  padding: 0.8rem;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1c3c43;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  & span {
    margin-left: 1rem;
  }
  &:disabled {
    background-color: #8bb6d4;
    color: #1c3c43;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
  }
}
.footer {
  width: 100%;
  // padding: 2rem;
  background-color: #243746;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
.modal {
  position: fixed;
  top: 10vh;
  left: 20%;
  width: 60%;
  padding: 3rem;
  // height: 40vh;
  z-index: 100;
  overflow: hidden;
  background: rgb(28,60,67);
  background: linear-gradient(150deg, rgba(28,60,67,1) 0%, rgba(107,148,177,1) 64%, rgba(139,182,212,1) 94%); 
  color: white;
  max-height: 100vh;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  border-radius: 0.7rem;
  & p:first-of-type {
    margin-top: 5rem;
  }
  & p {
    text-indent: 5rem;
  }
}
