@import "./variables";
@import "./mixins";

.image_wrapper {
  z-index: 0;
  display: flex;
}
.landingImage {
  z-index: 0;
  height: 100vh;
}
.hero {
  z-index: 75;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.hero_container {
  width: 60rem;
  height: 40rem;
  // background-color: white;
  padding: 2rem 0 2rem 6rem;
  display: flex;
  flex-direction: column;
  & p {
    font-size: 3.6rem;
    font-family: $font-poppins;
    margin: 0;
  }
  & h1 {
    font-size: 7.2rem;
    font-family: $font-milonga;
    margin: 1.4rem 0;
  }
}

.about {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding-left: 25rem;
  & h1 {
    font-size: 14rem;
    font-family: $font-peralta;
    color: rgba(0, 0, 0, 20%);
    z-index: 10;
  }
}

.aboutText {
  margin-top: -9rem;
  margin-left: 8rem;
  z-index: 50;
  width: 60rem;
  & p {
    font-family: $font-peralta;
    font-size: 2.4rem;
    color: #fff;
    margin: 1.5rem;
    line-height: 2.8rem;
  }
}
.btn {
  margin-top: 5rem;
  width: 27.5rem;
  height: 5.9rem;
  border-radius: 2.5rem;
  border: none;
  font-size: 2.8rem;
  font-family: $font-peralta;
  background-color: #F1E0C4;
  color: rgb(28, 60, 67);
  cursor: pointer;
}
.tools {
  margin-bottom: 5rem;
  padding: 3rem 0rem;
}
.icon {
  margin:0rem 1rem;
  color: #fff;
}
.projects  {
  margin: 10rem 0rem;
}


.contact {
  width: 100%;
  // background-color: #6b94b1;
  //   clip-path: polygon(100% 0, 76% 18%, 51% 1%, 24% 18%, 0 0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
.modal {
  position: fixed;
  top: 10vh;
  left: 20%;
  width: 60%;
  padding: 3rem;
  // height: 40vh;
  z-index: 100;
  overflow: hidden;
  background: rgb(28, 60, 67);
  background: linear-gradient(
    150deg,
    rgba(28, 60, 67, 1) 0%,
    rgba(107, 148, 177, 1) 64%,
    rgba(139, 182, 212, 1) 94%
  );
  color: white;
  max-height: 100vh;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  border-radius: 0.7rem;
  & p:first-of-type {
    margin-top: 5rem;
  }
  & p {
    text-indent: 5rem;
  }
}

@include respond(laptop) {
}

@include respond(phone) {
}
