
/* Background Image */

html {
   background: url(../../Images/breakingWave.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {
   font-family: 'Lato', sans-serif;
   color: white;
   text-align: center;
}

/* TYPOGRAPHY STYLES */

p {
   font-size: 16px;
   font-weight: 300;
   text-align: left;
}

.lead {
   font-size: 20px;
   font-weight: 300;
   text-align: center;
   letter-spacing: 1px;
   margin: 0 30px 0 30px;
}

h1 {
   font-family: 'IBM Plex Sans', sans-serif;
   font-weight: 100;
   font-size: 3em;
   margin: 10px;
}

.display {
   font-size: 5em;
   color: chartreuse;
}

h3 {
   font-family: 'IBM Plex Sans', sans-serif;
   font-weight: 700;
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

/* SETS UP THE MAIN CSS GRID FOR THE WRAPPER */

.wrapper {
   display: grid;
   grid-gap: 0px;
   grid-template-columns: repeat(9, 1fr);
   grid-template-rows: minmax(50px, auto);
   grid-template-areas: "navbar" "billboard" "about" "work" "cards" "sidebar" "footer";
}

/* CENTER THINGS VERTICALLY IN THE VIEW PORT */

.vertical-center {
   position: absolute;
   top: 50%;
   left: 0%;
   transform: translate(0%, -50%);
   -webkit-transform: translate(0%, -50%);
}

/* CARD STYLE */

.card-box {
   margin: 50px 0 100px 0;
   grid-column: 2/9;
   grid-row: 20/25;
}

/* MEDIA QUERY TO TURN OFF DOT NAV */

@media only screen and (max-device-width: 480px) {
   .dot-nav {
      display: none;
   }
   .billboard-box {
      padding-right: 0px;
   }
   .downArrow {
      display: none;
   }
}