//COLORS 
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-primary-light: rgb(130, 224, 248);
$color-primary-dark: rgb(40, 92, 189);
$color-primary: #55c57a;
$color-secondary-dark: #ff7730;
$color-grey-dark-2: #999;

//FONT
$default-font-size: 1.6rem;