.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 60px;
   width: 100%;
   background: rgb(0, 0, 0, .4);
}

.footer-line {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   align-content: stretch;
   border-top: 1px solid white;
   height: 100%;
   margin: 0;
   padding-right: 10px;
}

.footer-line div a {
   margin: 0 5px 0 5px;
   text-decoration: none;
   color: white;
}

.footer-line div a:hover {
   text-decoration: none;
   color: chartreuse;
}

#icon:hover {
   fill: chartreuse;
}