.work-grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   grid-gap: 20px;
   align-items: stretch;
   color: white;
   padding: 10px;
   background-color: none;
   text-align: center;
   padding: 20px 0;
   font-size: 15px;
}

.work-content-wrapper {
   padding: 30px;
 grid-column: 2/3;
}
.work-image {
   width: 500px;
   height: 500px;
   background: linear-gradient(250deg, #13681f, #0d419b, #b7d71d);
   background-size: 200% 200%;
   -webkit-animation: AnimationName 18s ease infinite;
   -moz-animation: AnimationName 18s ease infinite;
   animation: AnimationName 18s ease infinite;
}
   @-webkit-keyframes AnimationName {
      0% {
         background-position: 0% 60%
      }
      50% {
         background-position: 100% 41%
      }
      100% {
         background-position: 0% 60%
      }
   }
   @-moz-keyframes AnimationName {
      0% {
         background-position: 0% 60%
      }
      50% {
         background-position: 100% 41%
      }
      100% {
         background-position: 0% 60%
      }
   }
   @keyframes AnimationName {
      0% {
         background-position: 0% 60%
      }
      50% {
         background-position: 100% 41%
      }
      100% {
         background-position: 0% 60%
      }
   }
