//NAVIGATION 
.navigation {
 
  position: absolute;
  z-index: 20;
  top: 5rem;
  right: 30rem;
  animation: moveInTop 1s ease-out;
  &__list {
    display: flex;  
    list-style:none;
    transition: all .3s;
  }
  &__link {
    margin: 0 2rem;
    text-transform: uppercase;   
    text-decoration: none;
    font-size: 2rem;
    color: $color-black;    

    &:hover {
      color: $color-white;
      transform: skewY(2deg) scale(1.1);
    }
  }
}
//HEADER 
.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark,0.8)),
  url(../images/breakingWave.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

   @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
     clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
     height: 95vh;
   }

   @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
          only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
          only screen and (min-width: 125em) {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light,.08), rgba($color-primary-dark, 0.8), url(../images/breakingWave.jpg));
          }


   @include respond(phone) {
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
     clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
   }

  &__logo {
    width: 10rem;
    height: 10rem;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 6rem;
  }
  &__text-box {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;    
  }

}
//ABOUT
.image {
  &__personal {
    object-fit: cover;
    border: 1px solid black;
    width: 20rem;
    height: 20rem;
    border-radius: 40rem;
  }
}
.about__info {
  font-size: 1.8rem;
  width: 70%;
  margin: 0 15% 0 15%;
  line-height: 1.1;

  &-1{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 2rem;
    line-height: 1.4;
  }
  &-2 {
    text-indent: 3rem;
    margin-bottom: 1rem;
  }
  &-3 {
    text-indent: 3rem;
    margin-bottom: 1rem;
  }
  &-4 {
    text-indent: 3rem;
    margin-bottom: 1rem;
  }
}
//SKILLS
.skills__box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem rem;
}
//PROJECTS
.project{
 // background-color: yellow;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16,5rem);
  grid-gap: 1rem;
  @include respond(phone) {
    grid-template-rows: repeat(19,8rem);
  }
  &__1 {
   // background-color: grey;
    grid-row: 1 / 8;
    grid-column: 1 / 6;
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @include respond(phone) {
      grid-row: 1 / 4;
      grid-column: 1 / 17;
      margin-bottom: 1rem;
    }
  }
  &__2 {
   // background-color: grey;
    grid-row: 1 / 8;
    grid-column: 7 / 12;
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @include respond(phone) {
      grid-row: 4 / 7;
      grid-column: 1 / 17;
      margin-bottom: 1rem;
    }
  }
  &__3 {
     background-color: grey;
     grid-row: 1 / 8;
     grid-column: 13 / 17;
     @include respond(phone) {
      grid-row: 7 / 10;
      grid-column: 1 / 17;
      margin-bottom: 2rem;
    }
  }
  &__4 {
     background-color: grey;
     grid-row: 9 / 17;
     grid-column: 1 / 6;
       @include respond(phone) {
      grid-row: 10 / 13;
      grid-column: 1 / 17;
      margin-bottom: 2rem;
    }
  }
  &__5 {
    background-color: grey;
    grid-row: 9 / 17;
    grid-column: 7 / 12;
      @include respond(phone) {
      grid-row: 13 / 16;
      grid-column: 1 / 17;
      margin-bottom: 2rem;
    }
  }
  &__6 {
    background-color: grey;
    grid-row: 9 / 17;
    grid-column: 13 / 17;
      @include respond(phone) {
      grid-row: 16 / 19;
      grid-column: 1 / 17;
      margin-bottom: 2rem;
    }
  }
}

//CONTACT 
.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white,.8);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;

    @include respond(tab-port) {
      width: 100%;
    }
    &:focus{
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
.social {
  margin-top: 15rem;
  img{
    margin: 2rem;
  }
}
#social {
  @include respond (phone) {
    display: none;
  }
}

//BUTTONS
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size; //Change for the <button> element
    border: none;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }
  &--green {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}