.git {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out;
}

.aws {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out;
}

.bootstrap {
  max-width: 10rem;
  animation: moveInRight 1s ease-out;
}

.css {
  max-width: 10rem;
  animation: moveInRight 1s ease-out;
}

.express {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out;
}

.html {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out;
}

.jquery {
  max-width: 10rem;
  animation: moveInRight 1s ease-out;
}

.js {
  max-width: 10rem;
  animation: moveInRight 1s ease-out;
}

.mongo {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out;
}

.sql {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out;
}

.node {
  max-width: 10rem;
  animation: moveInRight 1s ease-out;
}

.python {
  max-width: 10rem;
  animation: moveInRight 1s ease-out;
}

.react {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out;
}

.sass {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out;
}

.ts {
  max-width: 10rem;
  animation: moveInRight 1s ease-out;
}

.vs {
  max-width: 10rem;
  animation: moveInRight 1s ease-out;
}

.webpack {
  max-width: 10rem;
  animation: moveInBottom 1s ease-out;
}
.stack {
max-width: 6rem;
}
.github {
max-width: 6rem;
}
.linked {
max-width: 6rem;
}