.billboard-contents {
   grid-area: billboard-contents;
   grid-column: 2 / span 7;
   text-align: center;
}

.billboard-box {
   grid-column: 3/8;
   grid-row: 5/10;
   padding-right: 40px;
   padding-top: 100px;
}
