/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
1em=16px */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #82e0f8, #285cbd);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  line-height: 3.6rem; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-med {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.navigation {
  position: absolute;
  z-index: 20;
  top: 5rem;
  right: 30rem;
  animation: moveInTop 1s ease-out; }
  .navigation__list {
    display: flex;
    list-style: none;
    transition: all .3s; }
  .navigation__link {
    margin: 0 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    color: grey; }
    .navigation__link:hover {
      color: #fff;
      transform: skewY(2deg) scale(1.1); }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(130, 224, 248, 0.8), rgba(40, 92, 189, 0.8)), url(../images/breakingWave.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  .header__logo {
    width: 10rem;
    height: 10rem; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.image__personal {
  object-fit: cover;
  border: 1px solid black;
  width: 20rem;
  height: 20rem;
  border-radius: 40rem; }

.about__info {
  font-size: 1.8rem;
  width: 70%;
  margin: 0 15% 0 15%; }
  .about__info-1 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 2rem; }
  .about__info-2 {
    text-indent: 3rem;
    margin-bottom: 1rem; }
  .about__info-3 {
    text-indent: 3rem;
    margin-bottom: 1rem; }
  .about__info-4 {
    text-indent: 3rem;
    margin-bottom: 1rem; }

.skills__box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem rem; }

.project {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 5rem);
  grid-gap: 1rem; }
  .project__1 {
    background-color: grey;
    grid-row: 1 / 8;
    grid-column: 1 / 6; }
  .project__2 {
    background-color: grey;
    grid-row: 1 / 8;
    grid-column: 7 / 12; }
  .project__3 {
    background-color: grey;
    grid-row: 1 / 8;
    grid-column: 13 / 17; }
  .project__4 {
    background-color: grey;
    grid-row: 9 / 17;
    grid-column: 1 / 6; }
  .project__5 {
    background-color: grey;
    grid-row: 9 / 17;
    grid-column: 7 / 12; }
  .project__6 {
    background-color: grey;
    grid-row: 9 / 17;
    grid-column: 13 / 17; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.social {
  margin-top: 10rem; }
  .social img {
    margin: 0 2rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.footer {
  background-color: black;
  height: 10rem;
  width: 100%;
  color: white; }

.section-about {
  color: black;
  padding: 3rem; }

.section-skills {
  background-color: #caca5a;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10rem 0;
  height: 90rem;
  margin-bottom: 12rem;
  background-image: linear-gradient(to right bottom, rgba(130, 224, 248, 0.8), rgba(40, 92, 189, 0.8));
  transform: skewY(-7deg); }
  .section-skills > * {
    transform: skewY(7deg); }

.section-projects {
  background-image: linear-gradient(to bottom, rgba(130, 224, 248, 0.8), rgba(40, 92, 189, 0.8));
  height: 111.5vh;
  padding: 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #82e0f8, #285cbd); }

.contact {
  background-image: linear-gradient(105deg, rgba(119, 119, 119, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/breakingWave.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  display: flex; }
  .contact__form {
    width: 50%;
    padding: 6rem;
    flex-direction: column; }
    @media only screen and (max-width: 75em) {
      .contact__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .contact__form {
        width: 100%; } }
  .contact__social {
    width: 50%;
    padding: 6rem;
    text-align: center; }

.mobileNav {
  display: none; }
  .mobileNav__checkbox {
    display: none; }
  .mobileNav__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .mobileNav__button {
        top: 3rem;
        right: 3rem; } }
  .mobileNav__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#82e0f8, #285cbd);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 56.25em) {
      .mobileNav__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .mobileNav__background {
        top: 3.5rem;
        right: 3.5rem; } }
  .mobileNav__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .mobileNav__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .mobileNav__item {
    margin: 1rem; }
  .mobileNav__link:link, .mobileNav__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
    .mobileNav__link:link span, .mobileNav__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .mobileNav__link:hover, .mobileNav__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  .mobileNav__checkbox:checked ~ .mobileNav__background {
    transform: scale(80); }
  .mobileNav__checkbox:checked ~ .mobileNav__nav {
    opacity: 1;
    width: 100%; }
  .mobileNav__icon {
    position: relative;
    margin-top: 3.5rem; }
    .mobileNav__icon, .mobileNav__icon::before, .mobileNav__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #777;
      display: inline-block; }
    .mobileNav__icon::before, .mobileNav__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .mobileNav__icon::before {
      top: -.8rem; }
    .mobileNav__icon::after {
      top: .8rem; }
  .mobileNav__button:hover .mobileNav__icon::before {
    top: -1rem; }
  .mobileNav__button:hover .mobileNav__icon::after {
    top: 1rem; }
  .mobileNav__checkbox:checked + .mobileNav__button .mobileNav__icon {
    background-color: transparent; }
  .mobileNav__checkbox:checked + .mobileNav__button .mobileNav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .mobileNav__checkbox:checked + .mobileNav__button .mobileNav__icon::after {
    top: 0;
    transform: rotate(-135deg); }

@media only screen and (max-width: 750px) {
  .navigation {
    display: none; }
  .mobileNav {
    display: block; } }

@media only screen and (max-width: 750px) and (min-width: 600px) {
  .mobileNav__background {
    top: 6.5rem;
    right: 6.5rem; } }

.git {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out; }

.aws {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out; }

.bootstrap {
  max-width: 10rem;
  animation: moveInRight 1s ease-out; }

.css {
  max-width: 10rem;
  animation: moveInRight 1s ease-out; }

.express {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out; }

.html {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out; }

.jquery {
  max-width: 10rem;
  animation: moveInRight 1s ease-out; }

.js {
  max-width: 10rem;
  animation: moveInRight 1s ease-out; }

.mongo {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out; }

.sql {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out; }

.node {
  max-width: 10rem;
  animation: moveInRight 1s ease-out; }

.python {
  max-width: 10rem;
  animation: moveInRight 1s ease-out; }

.react {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out; }

.sass {
  max-width: 10rem;
  animation: moveInLeft 1s ease-out; }

.ts {
  max-width: 10rem;
  animation: moveInRight 1s ease-out; }

.vs {
  max-width: 10rem;
  animation: moveInRight 1s ease-out; }

.webpack {
  max-width: 10rem;
  animation: moveInBottom 1s ease-out; }

.stack {
  max-width: 6rem; }

.github {
  max-width: 6rem; }

.linked {
  max-width: 6rem; }
