/* FULLY RESPONSIVE CSS GRID */

.about-grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   grid-gap: 20px;
   align-items: stretch;
   color: white;
   padding: 10px;
   background-color: none;
   text-align: center;
   padding: 20px 0;
   font-size: 15px;
}

.about-content-wrapper {
   padding: 30px;
}

.about-image {
   width: 400px;
   height: 300px;
   margin-left: 10%;
   /* overflow: hidden; */
}
.lead{
   color: rgb(174, 14, 22);
   font-weight: 500;
   font-size: 3rem;
}
