@import '../../sass/variables';
@import '../../sass/mixins';

.project_cont {
    display: flex;
    margin: 10rem 3rem;
}
.textBox {
    flex: 1;
    height: 40rem;
    padding: 4rem;
    padding-left: 8rem;
    font-family: $font-peralta;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    & h1 {
        font-size: 3.8rem;
        margin-bottom: 2.5rem;
    }
    & p{
        font-size: 1.8rem;
        margin: 1rem 0rem;        
    }
    & h3 {
        font-size: 2.2rem;
        margin: 1rem 0rem;
    }
}
.img_box {
    flex: 1;
    background-color: yellow;
    height: 40rem;
    padding: 4rem;
    box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.75);
    position: relative;
}
.tech {
    display: flex;  
    flex-wrap: wrap;  
}
.techBox {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    color: #F1E0C4;
    background-color: #1C3C43;
    margin: .5rem;
}
.icon {
  margin:0rem 1rem;
  color: #fff;
}
.btn {
    width: 15rem;
    height: 4rem;
    padding: .5rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    font-family: $font-peralta;
    color: #1C3C43;
    background-color:#F1E0C4 ;
    text-align: center ;
    border: none;
    box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.75);
    cursor: pointer;
    margin: 1.5rem 0rem;
}
@include respond(tab-port) {
    .project_cont {
        flex-direction: column;
    }
    .img_box{
        flex: none;
    }
}